<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../client/polyfills/dialog-polyfill.css" />
  <style>
    dialog::backdrop {
      background: rgba(255,0,0,.25);
    }
  </style>
</head>
<body>
  <%= require('html-loader!./partial.html') %>

  <form>
    <input type="text"/>
    <button type="button">fingerprint</button>
  </form>


  <dialog id="favDialog">
      <form method="dialog">
        <p><label>Favorite animal:
          <select>
            <option></option>
            <option>Brine shrimp</option>
            <option>Red panda</option>
            <option>Spider monkey</option>
          </select>
        </label></p>
        <menu>
          <button>Cancel</button>
          <button>Confirm</button>
        </menu>
      </form>
    </dialog>
    
    <menu>
      <button id="updateDetails">Update details</button>
    </menu>
    
    <output></output>

    <script type="text/javascript" src="../client/polyfills/dialog-polyfill.js"></script>
</body>
</html>

